main {
  background-color: #f0f0f2;
}

.hero-image-product {
  height: 130px;
  margin-bottom: 10px;
  width: 130px;
  
}

.left-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-big-image-product {
  width: 100%;
  height: 500px;
  position: relative;
}

.hero-big-image-product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.black-friday-product {
  border-radius: 3rem;
  width: 60px;
  padding: 1rem;
  position: absolute;
  top: 10px;
  left: 10px;
}

